@model List<Auction>

<h1>Hi @ViewBag.Name! Here are the current auctions:</h1>

<div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Seller</th>
      <th scope="col">Top Bid</th>
      <th scope="col">Time Remaining</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>

@foreach(Auction auction in Model)
{
    <tr>
        <td><a asp-action="Details" asp-route-auctionId=@auction.AuctionId>@auction.ProductName</a></td>
        <td>@auction.Creator.FirstName</td>
        <td>@auction.HighBid</td>
        <td>@((int)(auction.Date - DateTime.Now).TotalDays) Days</td>
        <td>@if(auction.CreatorId == ViewBag.UserId)
          {
            <a asp-action="Delete" asp-route-auctionId=@auction.AuctionId>Delete</a>
          }
        </td>
    </tr>
}
  </tbody>
</table>
</div>
<div>
<h4>Your Current Wallet: $@ViewBag.Wallet.ToString("0.00")</h4>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="NewAuction">New Auction</a>

